NODE_ENV=

BOT_TOKEN=

GOOGLE_GENAI_API_KEY=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS_SSL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=